<div class="reset-container">
    <div class="reset-card">
      <h1 style="color: white;">Restablecer contraseña</h1>
      <p style="color: white;">¡No te preocupes! Ya casi llegas.</p>
  
      <form class="reset-form" [formGroup]="resetForm" (ngSubmit)="onSubmit()">
        <div class="input-container">
          <input type="password" formControlName="password" placeholder="Nueva contraseña">
        </div>
        <div class="input-container">
          <input type="password" formControlName="confirmPassword" placeholder="Confirmar contraseña">
        </div>
        <button type="submit" class="submit-button">Restablecer Contraseña</button>
      </form>
    </div>
  </div>